﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Langbiang Mountain</title>
    <link href="~/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta charset="utf-8">
    <meta name="author" content="Langbiang">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- SEO -->
    <meta name="fragment" content="!">

    <style type="text/css">
        #app, body
        {
            display: none;
        }
    </style>

    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body class="device-windows browser-chrome version-chrome-31">
    <div id="fb-root" class=" fb_reset">
        <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
            <div></div>
        </div>
        <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
            <div></div>
        </div>
    </div>

    <div id="toolbar" class="ui-animate-top-250 show">
        <div class="col940">
            <div class="general-menu">
                <a class="internal-link" href="/">
                    <div class="logo"></div>
                </a>
                <div id="searchbox">
                    <form action="/Home/Search?provinceid=@ViewBag.provinceId&categoryId=@ViewBag.categoryId" method="get">
                        <input class="search-topbar" type="text" name="searchKey" id="search-topbar" placeholder="Tìm kiếm địa danh du lịch">
                    </form>
                    <div class="search-icon"></div>
                </div>
                <div id="main-menu">
                    <ul id="sections-menu">
                       
                        <li class="people" data-value="people">
                            <a class="link-province" href="#">Tỉnh thành</a>
                        </li>
                       
                    </ul>
                </div>
            </div>
            <div id="user-menu-new">

                @if (Session["user"]==null)
                {
                    <div id="btnLogin" class="create-dish-container">
                        <a class="link-opensignup" href="#"><span class="login-icon"></span>Đăng nhập</a>
                    </div>
                }
                else
                {                    
                    <div id="btnLogout" class="create-dish-container">
                        <a class="internal-link" href="/Account/Info" style="padding-left: 10px">
                            <div class="plus-icon-dish"></div>
                            <div id="tinymanName"><b>Hi, @Session["username"]</b></div> 
                        </a>
                    </div>                  
                    <div class="ui-avatar">
                        <div class="ui-avatar-overlay">

                            <a id="link-drop-menu" class="link-user"></a>
                            <div id="dropdowninfo" class="ui-dropdown open">

                                <ul>                                    
                              
                                    

                                    @if (((string)Session["role"]).Equals("Admin"))
                                    {
                                        
                                                <li>
                                                    <a class="ui-link link-username internal-link" href="Admin/">
                                                        <div class="profile-popdown-icon"></div>
                                                        Quản lý Admin
                                                    </a>

                                                </li>
                                    }                                   

                                  
                               

                                    <li>
                                        <a class="ui-link link-username internal-link" href="/Account/Info">
                                            <div class="profile-popdown-icon"></div>
                                            Thông tin cá nhân
                                        </a>
                                    </li>
                                    <li>
                                        <a class="ui-link link-lovelist internal-link" href="/Home/Favourite">
                                            <div class="lovelist-popdown-icon"></div>
                                            Địa danh yêu thích
                                        </a>
                                    </li>
                                    <li>
                                        @Html.Partial("_Logout")
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>  
                }
            </div>
        </div>
    </div>

    <div id="lightbox">
        <div class="light-content ui-animate-opacity-250 signup">
            <div class="ui-modal">
                <div class="close"></div>
                <div class="header"></div>
                <div class="content-wrapper">
                    <div class="content wrapper">
                        <div class="wrapper">
                            <div class="landing-content">
                                <div class="top">
                                    <div class="logo"></div>
                                    <div class="login-container">                                        
                                        <div class="ui-btn small">
                                            <a class="link-login" href="#">Đăng nhập</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="middle">
                                    <div class="screen-welcome ui-animate-opacity-250" style="opacity: 1;">
                                        <div class="lblsignup">
                                            <h1>Bạn là một người yêu thích du lịch?</h1>
                                            <p>Đăng ký ngay bây giờ để chia sẻ</p>
                                            <p>và bắt đầu tham gia vào ngôi nhà chung...</p>
                                        </div>

                                        <div class="form col285">
                                            <div class="fblogincontainer">
                                                <div class="ui-btn fb">                                                
                                                    @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginFacebookForm" }))
                                                    {
                                                        @Html.AntiForgeryToken()                                                         
                                                        <a id="btn-login-facebook" onclick="document.getElementById('loginFacebookForm').submit();" href="#" class="link-login-facebook" >Đăng nhập với Facebook</a>
                                                        <div class="ui-spinner"></div>                                                                         
                                                    }

                                                </div>
                                                <p>hoặc</p>
                                            </div>
                                            <div id="lgfb_regis">
                                                <div class="ui-btn">
                                                    <a class="link-signup" href="#">Đăng ký</a>
                                                    <div class="ui-spinner"></div>
                                                </div>
                                            </div>
                                            @Html.Partial("_Login")
                                            @Html.Partial("_Register")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div id="provinceBox">
        <div class="light-content ui-animate-opacity-250 signup">
            <div class="ui-modal">
                <div class="close" style="top:0px"></div>
                <div class="header"></div>
                <div class="content-wrapper">
                    <div class="content wrapper">
                        <div class="wrapper">
                            <div class="landing-content">
                                <div class="middle" style="top:40px">
                                    <div id="provinceContent" style="opacity: 1;">                                        
                                    </div>
                                </div>
                                <script type="text/javascript">

                                    function clickBox(val) {
                                        var id = $(val).attr("id");
                                        window.location = "/Home/Index?provinceId="+id;
                                        //alert("Chưa làm");
                                        //@ViewBag.provinceId = id.id;
                                        //window.location = "Home";
                                    }

                                    function enterBox(val) {
                                        var id = $(val).css("backgroundColor", "blue")
                                    }

                                    function leaveBox(val) {
                                        var id = $(val).css("backgroundColor", "transparent")
                                    }


                                    </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @RenderBody()


    <div id="fine-uploader"></div>
    <div id="go-top-btn"><a class="go-top" style="display: none;" href="#">To the Top</a></div>

   
    <script type="text/javascript">  

        $(window).scroll(function()
        {
            if (document.body.scrollHeight - $(this).scrollTop()  <= $(this).height())
            {
                $('#go-top-btn').children('.go-top').show();
            }else
            {
                $('#go-top-btn').children('.go-top').hide();
            }
        });
        </script>

    <script src="~/Scripts/jquery.bxslider.min.js"></script>
    <script src="~/Scripts/langbiang.js"></script>
    <script src="~/Scripts/facebook.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
