﻿@using (Html.BeginForm("Login", "Account", null, FormMethod.Post, new { id = "loginform" }))
{
    <div id="loginbt">
        <div id="login-email-field-container">
            <div class="ui-text" id="user">
                <input id="login-email" name="UserName" value="" placeholder="Username">

            </div>
        </div>
        <div id="login-password-field-container">
            <div class="ui-text" id="pass">
                <input id="login-pwd" name="Password" value="" type="password" placeholder="Password">

            </div>
        </div>
        <div class="ui-btn">
            <a id="btn-login" class="submit-form" href="#">Đăng nhập</a>
            <div class="ui-spinner"></div>
        </div>
        <div class="extras">
            <a class="link-forgotpassword" href="#">Quên mật khẩu</a>
        </div>
        <div class="extras">
            <span>Chưa có tài khoản?</span> <a class="link-signup" href="#">Đăng ký</a>.
        </div>
    </div>
}