﻿@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()
    <a class="ui-link link-logout" href="#">
        <div class="signout-popdown-icon"></div>
        Đăng xuất
    </a>
}