﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div id="content" class="content ui-animate-opacity-250" style="opacity: 1;">
  
        <div id="pop_chef-section" class="pop_chef-section">
            <div class="loader" style="z-index: -1; opacity: 0;"></div>
            <div class="col940">
                <h4>
                    Most Popular Cooks of <a href="#" data-period="today" class="period today selected ">Today</a> / <a class="period week" data-period="week" href="#">This Week</a> / <a class="period month" data-period="month" href="#">This Month</a>
                </h4>
                <a href="/people/popular" class="internal-link all-content">See all popular cooks</a>
                <div class="clear"></div>
                <div class="thelist" style="opacity: 1;">
                    <ul id="popular-chef-thumbnails-list" class="ui-list ui-thumbs landing">
                        <li class="type-popular-chef">
                            <div class="head">
                                <div class="chef-preview-thumb">
                                    <div class="ui-image ui-animate-opacity-250" style="background-image: url(http://prod-images2.foodzai.com/dishes/610/thumbnail/4f503601fbfaee2529c8f3c36ea2016f.jpg?1382960805); opacity: 1;"></div>
                                </div>
                                <div class="chef-preview-thumb">
                                    <div class="ui-image ui-animate-opacity-250" style="background-image: url(http://prod-images3.foodzai.com/dishes/611/thumbnail/3d29616924f8f0bbb66f1e93767c8a32.jpg?1382960824); opacity: 1;"></div>
                                </div>
                                <div class="chef-preview-thumb">
                                    <div class="ui-image ui-animate-opacity-250" style="background-image: url(http://prod-images2.foodzai.com/dishes/1038/thumbnail/b8b1b4d9c52ef4a5278ba64e57a3adf4.jpg?1382964881); opacity: 1;"></div>
                                </div>
                                <div class="chef-preview-thumb">
                                    <div class="ui-image ui-animate-opacity-250" style="background-image: url(http://prod-images3.foodzai.com/dishes/651/thumbnail/98e433b9de62ac575e8b9ded990a5a5f.jpg?1382961162); opacity: 1;"></div>
                                </div>
                            </div>
                            <div class="details">
                                <div class="ui-avatar" style="background-color: #000000">
                                    <div class="ui-image ui-animate-opacity-250" style="background-image: url(http://prod-images0.foodzai.com/users/20/small_avatar/PatriciaN.jpg?1367260573); opacity: 1;"></div>
                                </div>
                                <div class="title">
                                    <a class="user-link internal-link" href="/cocobaunilha">Patrícia Nascimento</a>
                                    <a class="user-location"><span class="location-icon-small"></span>Faro, Algarve</a>
                                </div>
                                <div class="stats">
                                    <div class="number">23</div>
                                    <div class="title_feat-chef">Dishes</div>
                                </div>
                            </div>
                            <div class="overlay loggedout" style="opacity: 0;">
                                <a class="enter user-link internal-link" href="/cocobaunilha"></a>
                                <div class="follow-action action link-follow">
                                    <div class="icon follow"></div>

                                    <a href="#">Follow</a>

                                </div>
                            </div>
                        </li>
                        <li class="type-popular-chef">
                            <div class="head">
                                <div class="chef-preview-thumb">
                                    <div class="ui-image ui-animate-opacity-250" style="background-image: url(http://prod-images1.foodzai.com/dishes/485/thumbnail/839d1eadd8d58c69e229e3b1aee5bd51.jpg?1382959780); opacity: 1;"></div>
                                </div>
                                <div class="chef-preview-thumb">
                                    <div class="ui-image ui-animate-opacity-250" style="background-image: url(http://prod-images3.foodzai.com/dishes/1011/thumbnail/602cefb0cc422bbff8aed2317c7c385b.jpg?1382964526); opacity: 1;"></div>
                                </div>
                                <div class="chef-preview-thumb">
                                    <div class="ui-image ui-animate-opacity-250" style="background-image: url(http://prod-images3.foodzai.com/dishes/1367/thumbnail/af37eaaaef6ce245dd7c32802ac99557.jpg?1384350201); opacity: 1;"></div>
                                </div>
                                <div class="chef-preview-thumb">
                                    <div class="ui-image ui-animate-opacity-250" style="background-image: url(http://prod-images3.foodzai.com/dishes/1403/thumbnail/f1b797c7a5f1cddffb56d21a14a3b17f.jpg?1385060211); opacity: 1;"></div>
                                </div>
                            </div>
                            <div class="details">
                                <div class="ui-avatar" style="background-color: #000000">
                                    <div class="ui-image ui-animate-opacity-250" style="background-image: url(http://prod-images3.foodzai.com/users/23/small_avatar/cdb0fea872a412f62f0d2023c4480e6a.jpg?1372285034); opacity: 1;"></div>
                                </div>
                                <div class="title">
                                    <a class="user-link internal-link" href="/joanagoncalves">Joana Gonçalves</a>
                                    <a class="user-location"><span class="location-icon-small"></span>Lisbon</a>
                                </div>
                                <div class="stats">
                                    <div class="number">16</div>
                                    <div class="title_feat-chef">Dishes</div>
                                </div>
                            </div>
                            <div class="overlay loggedout" style="opacity: 0;">
                                <a class="enter user-link internal-link" href="/joanagoncalves"></a>
                                <div class="follow-action action link-follow">
                                    <div class="icon follow"></div>

                                    <a href="#">Follow</a>

                                </div>
                            </div>
                        </li>
                        <li class="type-popular-chef">
                            <div class="head">
                                <div class="chef-preview-thumb">
                                    <div class="ui-image ui-animate-opacity-250" style="background-image: url(http://prod-images3.foodzai.com/dishes/575/thumbnail/399370e2b5ce0df78a266b0b1ca16eae.jpg?1382960515); opacity: 1;"></div>
                                </div>
                                <div class="chef-preview-thumb">
                                    <div class="ui-image ui-animate-opacity-250" style="background-image: url(http://prod-images0.foodzai.com/dishes/164/thumbnail/68ad31cbdde34b3570a292847713edcb.jpg?1382957096); opacity: 1;"></div>
                                </div>
                                <div class="chef-preview-thumb">
                                    <div class="ui-image ui-animate-opacity-250" style="background-image: url(http://prod-images3.foodzai.com/dishes/187/thumbnail/8ea8dad4ff492fd80bf719e10b648a67.jpg?1382957394); opacity: 1;"></div>
                                </div>
                                <div class="chef-preview-thumb">
                                    <div class="ui-image ui-animate-opacity-250" style="background-image: url(http://prod-images0.foodzai.com/dishes/812/thumbnail/ac6585a03c637d063545ef9b931947da.jpg?1382962694); opacity: 1;"></div>
                                </div>
                            </div>
                            <div class="details">
                                <div class="ui-avatar" style="background-color: #000000">
                                    <div class="ui-image ui-animate-opacity-250" style="background-image: url(http://prod-images2.foodzai.com/users/26/small_avatar/IMG_5973.JPG?1367320465); opacity: 1;"></div>
                                </div>
                                <div class="title">
                                    <a class="user-link internal-link" href="/olivia">Olivia FagundesRocha</a>
                                    <a class="user-location"><span class="location-icon-small"></span>Porto</a>
                                </div>
                                <div class="stats">
                                    <div class="number">27</div>
                                    <div class="title_feat-chef">Dishes</div>
                                </div>
                            </div>
                            <div class="overlay loggedout" style="opacity: 0;">
                                <a class="enter user-link internal-link" href="/olivia"></a>
                                <div class="follow-action action link-follow">
                                    <div class="icon follow"></div>

                                    <a href="#">Follow</a>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
     </div>
