﻿@model DuLichService.Models.ViewLocation

<div id="app" class="section-landingPage">
    <div id="header">
        <ul class="bxslider">
            <li><img src="Images/banner1.jpg" /></li>
            <li><img src="Images/banner2.jpg" /></li>
            <li><img src="Images/banner3.jpg" /></li>
            <li><img src="Images/banner4.jpg" /></li>
        </ul>
    </div>

    <div id="content" class="content ui-animate-opacity-250" style="opacity: 1; padding-top:0px">
        <div id="pop_chef-section" class="pop_chef-section">
            <div class="loader" style="z-index: -1; opacity: 0;"></div>

            <div class="col940 dish-intro">
                <div class="logo" style="width:300px;"><img style="background-image:none" src="~/Images/ddd.png"></div>
                <div class="dish-info"></div>
                <a href="~/Dishes/" class="internal-link all-content first">Tất cả các địa danh</a>
            </div>

            <div class="col940">                
                <div class="clear"></div>
                <div class="thelist" style="opacity: 1;">
                     <ul id="dish-thumbnails-list" class="ui-list ui-list-dishes ui-thumbs ui-count-3 landing-thumb-list">                         
 
                        @foreach (var p in Model.Locations)
                        {
                            <li class="type-dish ui-count-3">
                                @* Hình ảnh món ăn *@
                                <div class="head">
                                    <div class="img dish-img">
                                        @if (p.pic!=null)
                                        {
                                        <div class="ui-image ui-animate-opacity-250" style="background-image: url(@p.pic); opacity: 1;"></div>
                                        }
                                    </div>
                                </div>

                                @* Tên món, hình người đăng *@
                                <div class="details">
                                     <div class="title" style="left:15px; max-width: 210px">
                                        <a class="user-link internal-link" href="/Home/Detail?id=@p.id">@p.name</a>
                                          @if (p.province != null)
                                            {
                                                <a class="user-location"><span class="location-icon-small"></span>@p.province</a>
                                          }
                                     </div>

                                    @* Số lượng người yêu thích *@
                                    <div class="stats">
                                        <div class="number">@p.rate</div>
                                        <div class="title_feat-chef">Rate</div>
                                    </div>                                    
                                </div>
                                
                               <div class="overlay loggedout" style="opacity:0;">                             
                                    <div id="@p.id" onclick="clicked(this);" class="follow-action action link-follow">
                                        <div class="icon follow"></div>
                                        <a href="/Home/Detail?id=@p.id">Chi tiết</a>                                        
                                    </div>
                                </div>
                            </li>  
                        }
                         
                    </ul>
                </div>

                <div id="loading" style="display:none; text-align:center">
                    <img style="width:50px; background-image:none" src="~/Images/loading.gif">
                </div>
            </div>
            
        </div>

    </div>

</div>


<div id="usersection"></div>

        
  <script type="text/javascript">
    
@*    
    $('#nghia').click(function () {       
    
            $.ajax({
                url: '/Home/GetLocations',
                type: 'POST',
                dataType: 'json',
                cache: false,                data : {searchKey : '@ViewBag.searchKey', provinceId :'@ViewBag.provinceId', categoryId:'@ViewBag.categoryId' },                success: function (data) {                    $("#dish-thumbnails-list").append(data);                }
            });

    });*@

      function clicked(item) {
        var id = $(item).attr("id");
        window.location = "Home/Detail?id="+id;
      }
      
      $(document).ready(function () {
          var num = 0;
          $(document).bind('mousewheel', function (e) {

              if ($(window).scrollTop() == $(document).height() - $(window).height()) {

                  $('#loading').show();

                  $.ajax({
                      url: '/Home/GetLocations',
                      type: 'POST',
                      dataType: 'json',
                      cache: false,                      data: { searchKey: '@ViewBag.searchKey', provinceId: '@ViewBag.provinceId', categoryId: '@ViewBag.categoryId' },                      success: function (data) {
                          $("#dish-thumbnails-list").append(data);

                          $('#loading').hide();
                      }
                  });
                 

              } else {
                  
              }
          });
      });



</script>