﻿@model ICollection<microsoft.web.webpages.oauth .authenticationclientdata="">  
@{  
    ViewBag.Title = "Logon";  
}  
<h2>  
    Logon</h2>  
@using (Html.BeginForm())  
{  
    <div>  
        @foreach (var item in Model)  
        {  
            <input name="provider" id="@item.AuthenticationClient.ProviderName" value="@item.DisplayName">  
        }  
    </div>  
}  