﻿@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DuLichService.Models.AccountModel
 <script src="~/Scripts/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-theme.css"/>
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css"/>
    <div id="content" class="content ui-animate-opacity-250" style="opacity: 1; padding-top:0px">
        <div id="pop_chef-section" class="pop_chef-section">
            <div class="loader" style="z-index: -1;opacity: 0;"></div>

            <div class="col940">
 
                
                <div class="clear"></div>
                <div class="thelist" style="opacity: 1;">
                       <div style="margin:100px auto;width:500px">
                           <form action="/Account/ChangeInfo" method="post">
                                <h1>@Model.username </h1><br />
                                
                                <div id="name-field-container">
                                    <div class="ui-text">
                                        <input id="register-name" name="fullname" value="@Model.full_name" placeholder="Full name">
                                    </div>
                                </div>
                                <div id="name-field-container">
                                    <div class="ui-text">
                                        <input id="register-name" name="email" value="@Model.email" placeholder="Email">
                                    </div>
                                </div>
                                <input class="btn btn-primary btn-lg btn-block" value="Submit" type="submit"/>
                           </form>
                           @using (Html.BeginForm("ChangePassword", "Account"))
                           {
                              <div id="password-field-container">
                                <div class="ui-text">
                                    <input id="register-pwd" name="password" type="password" value="" placeholder="Password">
                                </div>
                            </div>
                               <div id="password-field-container">
                                <div class="ui-text">
                                    <input id="register-pwd" name="repassword" type="password" value="" placeholder="Re-Password">
                                </div>
                            </div>
                               <input class="btn btn-primary btn-lg btn-block" value="Change password" type="submit"/>
                    

                           }
                       </div>
                </div>

                <div id="loading" style="display:none; text-align:center">
                    <img style="width:50px; background-image:none" src="~/Images/loading.gif">
                </div>
            </div>
            
        </div>

    </div>

<script>
    $(function() {
        var x= '@ViewBag.result';
        if (x!='')
            alert(x);
        $( "#dialog" ).dialog();
    });
</script>