﻿@model DuLichService.Models.AccountModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Account</legend>

        @Html.HiddenFor(model => model.username)

        <div class="editor-label">
            @Html.LabelFor(model => model.username)
        </div>

        <div class="editor-field">
            @Html.DisplayFor(model=>model.username)
            @Html.HiddenFor(model=>model.username)
        </div>

        @Html.HiddenFor(model => model.password)

        <div class="editor-label">
            @Html.LabelFor(model => model.password)
        </div>

        <div class="editor-field">
            @Html.DisplayFor(model=>model.password)
            @Html.HiddenFor(model=>model.password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.full_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.full_name)
            @Html.ValidationMessageFor(model => model.full_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.role_account)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.role_account)
            @Html.ValidationMessageFor(model => model.role_account)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
